.add-user-form-component {
  .top {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    .title {
      font-size: 18px;
      color: $dark-gray;
    }
    .close{
      cursor: pointer;
    }
  }
  .bottom{
    margin-top: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
}