home, body {
  color: $gray;
}
.form-input {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 14px;
  label {
    text-align: right;
    width: 20%;
    box-sizing: border-box;
    padding-right: 5px;
    line-height: 14px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  input {
    height: 30px;
    border: 1px solid $lighter-gray;
    border-radius: 3px;
    padding: 0 10px;
    margin: 0 5px;
    width: 80%;
  }
}
.search-add-component {
  .add-user {
    cursor: pointer;
  }
  input.search {
    height: 30px;
    border: 1px solid $lighter-gray;
    border-radius: 3px;
    padding: 0 10px;
    margin: 0 5px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $lighter-gray;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $lighter-gray;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $lighter-gray;
  }
}

button {
  background-color: $white;
  height: 30px;
  padding: 0 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-weight: bold;
  color:gray;
  margin: 5px;
  cursor: pointer;
}
button:hover,button.hover {
  background-color:$blue;
  color:$white;
  border: 1px solid $blue;
}