.modal {
  position:fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  background-color:$black-opaque;
  .modal-box {
    background-color: $white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid $lighter-gray;
    border-radius: 2px;
    width: 80%;
    max-width: 640px;
  }
}

