.table-component {
  width:100%;
  margin: 10px auto;
  max-width: 1280px;
  .widgets {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th{
      text-align: left;
      font-weight: bold;
    }
    td,th {
      margin: 0;
      padding: 10px 0;
    }
    tr {
      border-bottom:  1px solid $lighter-gray;
    }
  }

}