home,body {
  color: #909399;
}
.header {
  display: flex;
}
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.27);
}

.modal-box {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2px;
  width: 80%;
}

button {
  background-color: white;
  height: 20px;
  padding: 0 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
  color:gray;
  margin: 5px;
}
button:hover {
  background-color: #409dfe;
  color:white;
}